.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Default ignored files
/MessagesAvroSchemas/shelf/
/MessagesAvroSchemas/workspace.xml
# Datasource local storage ignored files
/MessagesAvroSchemas/dataSources/
/MessagesAvroSchemas/dataSources.local.xml
# Editor-based HTTP Client requests
/MessagesAvroSchemas/httpRequests/
/MessagesAvroSchemas/build/
/MessagesAvroSchemas/gradle/
/MessagesAvroSchemas/.gradle/
/MessagesAvroSchemas/.idea/
/MessagesAvroSchemas/gradlew
/MessagesAvroSchemas/gradlew.bat
