.gradle
/build/
/.idea/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Default ignored files
/MessagesAvroSchemas/shelf/
/MessagesAvroSchemas/workspace.xml
# Datasource local storage ignored files
/MessagesAvroSchemas/dataSources/
/MessagesAvroSchemas/dataSources.local.xml
# Editor-based HTTP Client requests
/MessagesAvroSchemas/httpRequests/
/MessagesAvroSchemas/build/
/MessagesAvroSchemas/gradle/
/MessagesAvroSchemas/.gradle/
/MessagesAvroSchemas/.idea/
/MessagesAvroSchemas/gradlew
/MessagesAvroSchemas/gradlew.bat

# Default ignored files
/RestApiServer/shelf/
/RestApiServer/workspace.xml
# Datasource local storage ignored files
/RestApiServer/dataSources/
/RestApiServer/dataSources.local.xml
# Editor-based HTTP Client requests
/RestApiServer/httpRequests/
/RestApiServer/build/
/RestApiServer/gradle/
/RestApiServer/.gradle/
/RestApiServer/.idea/
/RestApiServer/gradlew
/RestApiServer/gradlew.bat

# Default ignored files
/TypeAHandlerServer/shelf/
/TypeAHandlerServer/workspace.xml
# Datasource local storage ignored files
/TypeAHandlerServer/dataSources/
/TypeAHandlerServer/dataSources.local.xml
# Editor-based HTTP Client requests
/TypeAHandlerServer/httpRequests/
/TypeAHandlerServer/build/
/TypeAHandlerServer/gradle/
/TypeAHandlerServer/.gradle/
/TypeAHandlerServer/.idea/
/TypeAHandlerServer/gradlew
/TypeAHandlerServer/gradlew.bat
